<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
   <title>Python Webhook</title>
</head>
<body> 
    Webhook Python
</body>
<script src="../static/js/jquery/jquery-3.2.1.min.js"></script>
<script src="../static/js/tether/tether.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>